.sign-in-button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border: none;
    background-color: #00bc77;
    color: #fff;
    text-decoration: underline;
  }
  
  .sign-in-content {
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem;
  }
  
  .sign-in-icon {
    font-size: 3rem;
  }
  
  .form-check {
    display: flex;
  }
  
  .input-remember label {
    margin-left: 0.25rem;

    font-size: 0.9rem;
    font-weight: bold;

  }
  
  .input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
  }
  
  .input-wrapper label {
    font-weight: bold;
    margin-bottom: 6px;
  }
  
  .input-wrapper input {
    padding: 5px;
    font-size: 1.2rem;
  }
  
  .login i {
    display: none;
  }
  
  @media (min-width: 768px) {
    .login i {
      display: inline-block;
    }
  
    .sign-in-content {
      width: 400px;
    }
  }
  
  @media (min-width: 1024px) {
    .sign-in-content {
      width: 300px;
    }
  }