html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body,
ul,
figure {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
  color: inherit;
}

.bg-dark {
  background-color: #12002b;
}

main {
  flex: 1;
}
